.main-logo {
    transform: translateY(-20%);
    // padding: 3rem;
    &_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.main-card {
    min-height: 50vh;
    margin: auto;
}

.main-button {
    width: auto;
    height: auto;
    border: none;
    background: url('/imgs/empty-btn.png') center center / contain no-repeat;
    background-size: 100% 100%;
    padding: 4px 1rem;
    @include font-notoserif-regular;

    &:hover {
        opacity: 0.6;
    }
}

.aside {
    &_container {
        // background-color: #303133;
        color: white;
    }
    &_logo {
        width: 100%;
        &_container {
            background-color: transparent;
            min-height: 150px;
        }
    }
    &_body {
        border: none !important;
        &_container {
            background-color: #303133;
            height: 100%;
        }
    }
}

.item-mosaic {
    cursor: pointer;
    height: 150px;

    font-size: 9pt;
}


.custom-el-dialog {
    min-height: 50vh !important;
    max-height: 70vh !important;
    .el-dialog__header, .el-dialog__body {
        padding: 0;
        margin: 0;
    }
}
